@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    /* background: red; */
}
.row {
    display: flex;
    justify-content: center;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

kbd {
    border-radius: 0.125rem;
    padding: 0.125rem 0.5rem;
    color: var(--color-text-secondary);
    background-color: var(--color-accent-subtle);
    /* @apply border-black/15 bg-black/10 dark:bg-white/5; */
}

#greet-input {
    margin-right: 5px;
}

@keyframes bounceDown {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

.close-window {
    animation-timing-function: cubic-bezier(0.39, -0.2, 0.09, 1.02);
    transform: translateY(100vh);
    transform-origin: bottom;
    opacity: 0;
}

.shiny {
    position: relative;
    border: 0.25rem solid transparent;
    overflow: hidden; /* Prevent overflow */
}
.shiny:hover::after {
    opacity: 0.25;
    background: radial-gradient(white, #3984ff00 70%);
    transition:
        opacity 0.3s ease,
        background 0.3s ease; /* Add transition for smoother effect */
}
.shiny::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(var(--color-glow), #3984ff00 70%);
    opacity: 0.1;
    pointer-events: none;
    transition: opacity 0.3s ease; /* Add transition for smoother effect */
}
.shiny-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    border: 2px solid var(--color-shadow);
    border-radius: inherit;
    pointer-events: none;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    border-radius: 100vh;
    background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    width: 50px;
    border-radius: 100vh;
}

.previous-equation:not(:first-of-type) {
    scale: 0.9;
}

.result {
    @apply flex h-14 w-full flex-row overflow-hidden rounded-md bg-black/10 transition-all duration-300 hover:cursor-pointer;
}

.root-layout {
    display: grid;
    grid-template-areas:
        'left search search right'
        'left results results right'
        'left results results right';
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 3rem 48rem 3fr;
    width: 64rem;
    height: auto;
    background: red;
    gap: var(--layout-gap, 0rem);
    padding: 0.25rem;
}

.layout-no-gap {
    --layout-gap: 0px;
}

.layout-gap {
    --layout-gap: 0.5rem;
}

.seperator-b {
    border-bottom: 2px solid var(--color-seperator);
}
.seperator-t {
    border-top: 2px solid var(--color-seperator);
}
.seperator-muted {
    border-color: 2px solid var(--color-seperator);
}

.border {
    border: 2px solid var(--color-border);
    border-top-color: var(--color-highlight);
}
