.react-aria-TagGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: small;
    color: var(--color-text-muted);
}

.react-aria-TagList {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.react-aria-Tag {
    color: var(--color-text-muted);
    /* border: 1px solid var(--border); */
    @apply border;
    forced-color-adjust: none;
    border-radius: var(--border-radius-md);
    padding: 0.25rem 0.5rem;
    padding-right: 0.25rem;
    font-size: 0.929rem;
    outline: none;
    cursor: default;
    display: flex;
    align-items: center;
    transition: border-color 200ms;
    gap: 0.25rem;

    &[data-hovered] {
        border-color: var(--border-color-hover);
    }

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
    }

    &[data-selected] {
        border-color: var(--highlight-background);
        background: var(--highlight-background);
        color: var(--highlight-foreground);
    }

    button {
        font-size: smaller;
        background-color: color-mix(
            in oklab,
            var(--color-black) /* #000 = #000000 */ 20%,
            transparent
        );
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.125rem;
        border-radius: 50%;
        color: var(--color-text-muted);
        transition:
            background-color 200ms,
            color 200ms;
    }
    button:hover {
        background-color: color-mix(
            in oklab,
            var(--color-red-500) /* #000 = #000000 */ 50%,
            transparent
        );
        color: var(--color-text-title);
    }
}
