@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans.ttf') format('truetype');
}

.test {
    /* color: #cecdcb */
    color: #e0dfdd;
}
/* the light theme */
:root {
    --color-background-dark: hsl(0, 0%, 70%);
    --color-background: hsl(0, 0%, 80%);
    --color-background-light: hsl(0, 0%, 90%);

    --color-border: hsl(0, 0%, 95%);
    --color-seperator: hsl(0, 0%, 75%);

    --color-highlight: hsl(0, 0%, 100%);

    --color-text-title: hsl(0, 0%, 10%);
    --color-text: hsl(0, 0%, 15%);
    --color-text-muted: hsl(0, 0%, 30%);

    /* properties */
    --border-radius-md: 1rem;
    --layout-gap: 0.5rem;
    --box-shadow: 0px 5px 10px 10px hsla(0, 0%, 0%, 0.25);
    --background-gradient: linear-gradient(
        to bottom,
        var(--color-background-light),
        var(--color-background)
    );

    --padding-sm: 0.25rem;
    --padding: 0.5rem;
    --padding-md: 0.75rem;
    --padding-lg: 1rem;
}

@theme inline {
    --shadow-*: initial;

    --color-background: var(--color-background);
    --color-background-dark: var(--color-background-dark);

    --color-background-light: var(--color-background-light);
    --color-border: var(--color-border);
    --color-seperator: var(--color-seperator);

    --color-highlight: var(--color-highlight);

    --color-text-title: var(--color-text-title);
    --color-text: var(--color-text);
    --color-text-muted: var(--color-text-muted);

    --font-title: 'OpenSans', sans-serif;
    --font-body: 'Inter', sans-serif;

    --padding-sm: var(--padding-sm);
    --padding: var(--padding);
    --padding-md: var(--padding-md);
    --padding-lg: var(--padding-lg);
}

@utility radius {
    border-radius: var(--border-radius-md);
}
@utility radius-none {
    --border-radius-md: 0;
}
@utility radius-t {
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
}
@utility radius-b {
    border-bottom-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
}
@utility radius-l {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
}
@utility radius-r {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
}
@utility radius-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@utility radius-b-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
@utility radius-l-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@utility radius-r-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@utility bg-gradient {
    background: var(--background-gradient);
}

@theme {
    /* light theme */
    --color-primary: #cecdcb;
    --color-secondary: #e0dfdd;
    --color-accent: #4b84c4;
    --color-accent-subtle: rgba(74, 131, 196, 0.25);

    /* --color-border: #fafafa;
    --color-text: #0f0f0f; */
    --color-text-secondary: #535353;
    --color-text-tertiary: #8c8c8c;

    --color-shadow: hsla(0, 0%, 0%, 0.15);
    --color-glow: hsla(0, 0%, 100%, 0.75);
    --color-glow-secondary: hsla(0, 0%, 100%, 0.25);

    --color-selected: #7aa7d9;
    --color-hover: #bfd3eb;
    --color-selected-text: #ffffff;

    /* lighten darken colours */
    /* is theme dependent, get swapped in dark mode */
    --color-li-10: rgba(255, 255, 255, 0.1);
    --color-li-25: rgba(255, 255, 255, 0.25);
    --color-li-50: rgba(255, 255, 255, 0.5);
    --color-li-75: rgba(255, 255, 255, 0.75);
    --color-li-90: rgba(255, 255, 255, 0.9);
    --color-da-10: rgba(0, 0, 0, 0.1);
    --color-da-25: rgba(0, 0, 0, 0.25);
    --color-da-50: rgba(0, 0, 0, 0.5);
    --color-da-75: rgba(0, 0, 0, 0.75);
    --color-da-90: rgba(0, 0, 0, 0.9);

    /* global light dark, won't change with theme */
    --color-global-li-10: rgba(255, 255, 255, 0.1);
    --color-global-li-25: rgba(255, 255, 255, 0.25);
    --color-global-li-50: rgba(255, 255, 255, 0.5);
    --color-global-li-75: rgba(255, 255, 255, 0.75);
    --color-global-li-90: rgba(255, 255, 255, 0.9);
    --color-global-da-10: rgba(0, 0, 0, 0.1);
    --color-global-da-25: rgba(0, 0, 0, 0.25);
    --color-global-da-50: rgba(0, 0, 0, 0.5);
    --color-global-da-75: rgba(0, 0, 0, 0.75);
    --color-global-da-90: rgba(0, 0, 0, 0.9);

    --animate-pulse: pulse 10s cubic-bezier(0.1, 0.4, 0.6, 1) infinite;
}

.dark {
    --color-selected: #496f9b;
    --color-primary: #1a1a1a;
    --color-secondary: #302f2f;
    --color-accent: #4b84c4;
    --color-accent-subtle: rgba(74, 131, 196, 0.25);

    /* --color-border: hwb(0 0% 0%); */
    --color-text: #c9c9c9;
    --color-text-secondary: #9c9c9c;
    --color-text-tertiary: #9b9b9b;
    /* --color-shadow: hsla(0, 0%, 100%, 0.0625); */
    --color-glow: hsla(0, 0%, 100%, 0.25);
    --color-glow-secondary: hsla(0, 0%, 100%, 0.125);
    --color-hover: #44576d;

    --color-li-10: rgba(0, 0, 0, 0.1);
    --color-li-25: rgba(0, 0, 0, 0.25);
    --color-li-50: rgba(0, 0, 0, 0.5);
    --color-li-75: rgba(0, 0, 0, 0.75);
    --color-li-90: rgba(0, 0, 0, 0.9);
    --color-da-10: rgba(255, 255, 255, 0.1);
    --color-da-25: rgba(255, 255, 255, 0.25);
    --color-da-50: rgba(255, 255, 255, 0.5);
    --color-da-75: rgba(255, 255, 255, 0.75);
    --color-da-90: rgba(255, 255, 255, 0.9);
}
@utility drop-shadow {
    box-shadow: var(--box-shadow) !important;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: transparent;
}

.text-primary {
    @apply text-text;
}
.text-secondary {
    @apply text-text-secondary;
}

/* fade sides */
.fade-right {
    --fade-start: 90%;
    mask-image: linear-gradient(to right, white var(--fade-start), transparent);
}
.fade-left {
    --fade-start: 90%;
    mask-image: linear-gradient(to left, white var(--fade-start), transparent);
}

.fade-x {
    mask-image: linear-gradient(to right, transparent, white 50%, transparent);
}

.fade-bottom {
    --fade-start: 0%;
    --fade-end: 90%;
    mask-image: linear-gradient(
        to bottom,
        transparent,
        white var(--fade-start),
        white var(--fade-end),
        transparent
    );
}
.fade-top {
    --fade-start: 10%;
    --fade-end: 100%;
    mask-image: linear-gradient(
        to bottom,
        transparent,
        white var(--fade-start),
        white var(--fade-end),
        transparent
    );
}

.fade-y {
    --fade-start: 10%;
    --fade-end: 90%;
    mask-image: linear-gradient(
        to bottom,
        transparent,
        rgb(0, 0, 0) var(--fade-start),
        rgb(0, 0, 0) var(--fade-end),
        transparent
    );
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInBorder {
    from {
        border-image-width: 0;
    }
    to {
        border-image-width: 2;
    }
}

.tab-break {
    background-color: red;
    width: 10px;
    height: 100%;
}

@keyframes searchFadeIn {
    from {
        transform: translate(0, -50px);
        rotate: 45deg;
        opacity: 0;
        background-color: red;
    }
    to {
        transform: translate(0, 0);
        rotate: 0deg;
        opacity: 1;
    }
}
.fade-in {
    animation: searchFadeIn 10s cubic-bezier(0.32, 0, 0.67, 0) forwards;
    transition: all;
}
